 <p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

 **it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

 **SPACEXDATASET**
 
 **Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1. Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH:MM:SS  


2. Change the PAYLOAD_MASS__KG_  datatype  to INTEGER.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen** 

* Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html">link</a> for viewing  the new  Go to UI screen. 


* Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.  



* Later browse for the downloaded spacex file.



<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800">


* Once done select the schema andload the file.  


 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800">

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Collecting sqlalchemy==1.3.9

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.

  Using cached SQLAlchemy-1.3.9-cp38-cp38-win_amd64.whl
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.19
    Uninstalling SQLAlchemy-2.0.19:
      Successfully uninstalled SQLAlchemy-2.0.19
Successfully installed sqlalchemy-1.3.9
Requirement already satisfied: ibm_db_sa in c:\users\laura y estrella\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: ibm-db>=2.0.0 in c:\users\laura y estrella\anaconda3\lib\site-packages (from ibm_db_sa) (3.1.4)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\laura y estrella\anaconda3\lib\site-packages (from ibm_db_sa) (1.3.9)
Requirement already satisfied: ipython-sql in c:\users\laura y estrella\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: six in c:\users\laura y estrella\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: sqlparse in c:\users\laura y estrella\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: ipython in c:\users\laura y estrella\anaconda3\lib\site-packages (from ipython-sql) (7.22.0)
Collecting sqlalchemy>=2.0
  Using cached SQLAlchemy-2.0.19-cp38-cp38-win_amd64.whl (2.0 MB)
Requirement already satisfied: prettytable in c:\users\laura y estrella\anaconda3\lib\site-packages (from ipython-sql) (3.8.0)
Requirement already satisfied: ipython-genutils in c:\users\laura y estrella\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\laura y estrella\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\laura y estrella\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (1.0.0)
Requirement already satisfied: jedi>=0.16 in c:\users\laura y estrella\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.17.2)
Requirement already satisfied: pygments in c:\users\laura y estrella\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.8.1)
Requirement already satisfied: colorama in c:\users\laura y estrella\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.4)
Requirement already satisfied: backcall in c:\users\laura y estrella\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\laura y estrella\anaconda3\lib\site-packages (from ipython->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: pickleshare in c:\users\laura y estrella\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\laura y estrella\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.17)
Requirement already satisfied: decorator in c:\users\laura y estrella\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.0.6)
Requirement already satisfied: traitlets>=4.2 in c:\users\laura y estrella\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.0.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\laura y estrella\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\laura y estrella\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->ipython-sql) (0.2.5)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.19

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

%sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL

In [3]:
%load_ext sql
%sql ibm_db_sa://qxc09986:MYIRRPMPfkRslNxx@1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:32286/bludb;security=SSL

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [4]:
%sql select Unique(LAUNCH_SITE) from SPACEXTBL;

 * ibm_db_sa://qxc09986:***@1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:32286/bludb;security=SSL
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'KSC'

In [5]:
%sql select LAUNCH_SITE from SPACEXTBL WHERE (LAUNCH_SITE) LIKE 'KSC%' LIMIT 5;

 * ibm_db_sa://qxc09986:***@1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:32286/bludb;security=SSL
Done.

[('KSC LC-39A',),
 ('KSC LC-39A',),
 ('KSC LC-39A',),
 ('KSC LC-39A',),
 ('KSC LC-39A',)]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [6]:
%sql select SUM(PAYLOAD_MASS__KG_) as sum from SPACEXTBL WHERE (CUSTOMER) = 'NASA (CRS)'

 * ibm_db_sa://qxc09986:***@1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:32286/bludb;security=SSL
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [7]:
%sql select avg(PAYLOAD_MASS__KG_) as average_ from SPACEXTBL WHERE (BOOSTER_VERSION) = 'F9 v1.1'

 * ibm_db_sa://qxc09986:***@1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:32286/bludb;security=SSL
Done.

[(2928,)]

### Task 5

##### List the date where the succesful landing outcome in drone ship was acheived.


_Hint:Use min function_

In [10]:
%sql SELECT min(date_) from SPACEXTBL where landing_outcome = 'Success (drone ship)'

 * ibm_db_sa://qxc09986:***@1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:32286/bludb;security=SSL
Done.

[(datetime.date(2016, 5, 27),)]

### Task 6

##### List the names of the boosters which have success in ground pad  and have payload mass greater than 4000 but less than 6000

In [12]:
%sql select BOOSTER_VERSION from SPACEXTBL where LANDING_OUTCOME='Success (ground pad)'and PAYLOAD_MASS__KG_ BETWEEN 4000 and 6000

 * ibm_db_sa://qxc09986:***@1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:32286/bludb;security=SSL
Done.

[('F9 FT B1032.1',), ('F9 B4 B1040.1',), ('F9 B4 B1043.1',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [13]:
%sql SELECT MISSION_OUTCOME, COUNT(MISSION_OUTCOME) AS OUTCOME FROM SPACEXTBL GROUP BY MISSION_OUTCOME

 * ibm_db_sa://qxc09986:***@1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:32286/bludb;security=SSL
Done.

[('Failure (in flight)', 1),
 ('Success', 99),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [17]:
%sql SELECT BOOSTER_VERSION FROM SPACEXTBL WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL)

 * ibm_db_sa://qxc09986:***@1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:32286/bludb;security=SSL
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2',),
 ('F9 B5 B1058.3',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7',)]

### Task 9


##### List the records which will display the month names, succesful landing_outcomes in ground pad ,booster versions, launch_site for the months in year 2017
**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2017' for year.**

In [27]:
%sql SELECT substr(date_,6,2) as MONTH,DATE_,BOOSTER_VERSION,LAUNCH_SITE,LANDING_OUTCOME FROM SPACEXTBL WHERE substr(date_,1,4)='2017'

 * ibm_db_sa://qxc09986:***@1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:32286/bludb;security=SSL
Done.

[('01', datetime.date(2017, 1, 14), 'F9 FT B1029.1', 'VAFB SLC-4E', 'Success (drone ship)'),
 ('02', datetime.date(2017, 2, 19), 'F9 FT B1031.1', 'KSC LC-39A', 'Success (ground pad)'),
 ('03', datetime.date(2017, 3, 16), 'F9 FT B1030', 'KSC LC-39A', 'No attempt'),
 ('03', datetime.date(2017, 3, 30), 'F9 FT  B1021.2', 'KSC LC-39A', 'Success (drone ship)'),
 ('01', datetime.date(2017, 1, 5), 'F9 FT B1032.1', 'KSC LC-39A', 'Success (ground pad)'),
 ('05', datetime.date(2017, 5, 15), 'F9 FT B1034', 'KSC LC-39A', 'No attempt'),
 ('03', datetime.date(2017, 3, 6), 'F9 FT B1035.1', 'KSC LC-39A', 'Success (ground pad)'),
 ('06', datetime.date(2017, 6, 23), 'F9 FT  B1029.2', 'KSC LC-39A', 'Success (drone ship)'),
 ('06', datetime.date(2017, 6, 25), 'F9 FT B1036.1', 'VAFB SLC-4E', 'Success (drone ship)'),
 ('05', datetime.date(2017, 5, 7), 'F9 FT B1037', 'KSC LC-39A', 'No attempt'),
 ('08', datetime.date(2017, 8, 14), 'F9 B4 B1039.1', 'KSC LC-39A', 'Success (ground pad)'),
 ('08', datetime.date(2017, 8, 24), 'F9 FT B1038.1', 'VAFB SLC-4E', 'Success (drone ship)'),
 ('07', datetime.date(2017, 7, 9), 'F9 B4 B1040.1', 'KSC LC-39A', 'Success (ground pad)'),
 ('09', datetime.date(2017, 9, 10), 'F9 B4 B1041.1', 'VAFB SLC-4E', 'Success (drone ship)'),
 ('11', datetime.date(2017, 11, 10), 'F9 FT  B1031.2', 'KSC LC-39A', 'Success (drone ship)'),
 ('10', datetime.date(2017, 10, 30), 'F9 B4 B1042.1', 'KSC LC-39A', 'Success (drone ship)'),
 ('12', datetime.date(2017, 12, 15), 'F9 FT  B1035.2', 'CCAFS SLC-40', 'Success (ground pad)'),
 ('12', datetime.date(2017, 12, 23), 'F9 FT  B1036.2', 'VAFB SLC-4E', 'Controlled (ocean)')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [62]:
%sql SELECT LANDING_OUTCOME, COUNT(*) AS COUNT_LAUNCHES FROM SPACEXTBL WHERE LANDING_OUTCOME='Failure (drone ship)' OR LANDING_OUTCOME='Success (ground pad)' AND  DATE_ BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY LANDING_OUTCOME ORDER BY COUNT_LAUNCHES DESC;

 * ibm_db_sa://qxc09986:***@1bbf73c5-d84a-4bb0-85b9-ab1a4348f4a4.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:32286/bludb;security=SSL
Done.

[('Failure (drone ship)', 5), ('Success (ground pad)', 5)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%203/LAB-String_Patterns_Sorting_Grouping.md.html">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>